<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Tailwind Pacticse</title>
  </head>
  <body>
    <!-- <div
      class="flex flex-col justify-center min-h-screen px-4 py-6 antialiased text-gray-800 bg-gray-100 sm:py-12"
    >
      <div class="relative py-3 mx-auto text-center sm:max-w-xl">
       
      </div>
    </div> -->
    <div
      class="flex flex-col justify-center min-h-screen px-4 py-6 antialiased text-gray-800 bg-gray-100 sm:py-12"
    >
      <div class="relative py-3 mx-auto text-center sm:w-96">
        <span class="text-2xl font-bold">Login to your Account</span>
        <div class="mt-4 text-left bg-white rounded-lg shadow-md">
          <div class="h-2 bg-indigo-400 rounded-t-md"></div>
          <div class="px-8 py-6">
            <label for="" class="block font-semibold">Username or Email</label>
            <input
              type="text"
              placeholder="Email"
              class="w-full h-5 px-3 py-5 mt-2 border rounded-md hover:outline-none focus:outline-none focus:ring-indigo-600"
            />
            <label for="" class="block mt-3 font-semibold">Password</label>
            <input
              type="password"
              placeholder="Password"
              class="w-full h-5 px-3 py-5 mt-2 border rounded-md hover:outline-none focus:outline-none focus:ring-indigo-600"
            />
            <div class="flex items-baseline justify-between">
              <button
                type="submit"
                class="px-6 py-2 mt-4 text-white bg-indigo-500 rounded-md hover:bg-indigo-600"
              >
                Login
              </button>
              <a href="#" class="text-xs hover:underline"> Forgot Password </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
